@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/500.css";
@import "@fontsource/ibm-plex-sans/600.css";
@import "@fontsource/ibm-plex-sans/700.css";
@import "@fontsource/ibm-plex-sans-arabic/400.css";
@import "@fontsource/ibm-plex-sans-arabic/500.css";
@import "@fontsource/ibm-plex-sans-arabic/600.css";
@import "@fontsource/ibm-plex-sans-arabic/700.css";
@import "tailwindcss";
@import "@nuxt/ui";

* {
  box-sizing: border-box;
}

:root {
  font-family: "IBM Plex Sans Arabic", "IBM Plex Sans", sans-serif;
  direction: rtl;
}

.dark {
  --ui-text-dimmed: #8d8d8d;
  --ui-text-muted: #a8a8a8;
  --ui-text-toned: #c6c6c6;
  --ui-text: #f4f4f4;
  --ui-text-highlighted: #ffffff;
  --ui-text-inverted: #161616;
  --ui-bg: #161616;
  --ui-bg-muted: #262626;
  --ui-bg-elevated: #262626;
  --ui-bg-accented: #393939;
  --ui-bg-inverted: #ffffff;
  --ui-border: #525252;
  --ui-border-muted: #393939;
  --ui-border-accented: #6f6f6f;
  --ui-border-inverted: #ffffff;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

.dark body {
  background-color: var(--ui-bg);
  color: var(--ui-text);
}